@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj na stronie </h1>
    <p class="instrukcja">Zaloguj się aby przejść dalej.</p>
</div>

<form method="post">
    <h2>LOGOWANIE</h2>
    <input type="text" name="login" placeholder="Wpisz login">
    <button type="submit" >Zaloguj</button>
</form>
@if(!string.IsNullOrEmpty(ViewBag.Error)){
    <p style="color:redaction;">@ViewBag.Error</p>
}